// Import page-specific CSS files here.
@import "home";
@import "contact";
@import "sidebar";

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.formular {
  margin: 0 auto;
  width: 500px;
}

.btn {
  margin: -10px -65px;
  position:relative;
  top:50%;
  left:50%;
}

.card {
  margin: 25px;
  width: 250px;
  height: 300px;
}
