<div class="formular">
  <h1 class="text-center">Write a review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <div class="form-group">
    <%= f.input :content, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.input :rating, class: "form-control" %>
    </div>
    <%= f.submit "add a review", class: "btn btn-primary " %>
  <% end %>
</div>
